REDIS_HOST=127.0.0.1
REDIS_PASSWORD=
FASTAPI_HOST=0.0.0.0
FASTAPI_PORT=8000
LOG_MAX_SIZE_MB=10
LOG_MAX_BACKUP_COUNT=5
# Optional: Override root or storage directory manually
#NTRX_ROOT=/path/to/custom/root
#NTRX_STORAGE_DIR=/path/to/custom/storage
