annotated-types==0.7.0
anyio==4.8.0
async-timeout==5.0.1
asyncio==3.4.3
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cryptography==44.0.2
dataclasses==0.6
fastapi==0.115.11
h11==0.14.0
idna==3.10
markdown-it-py==3.0.0
mdurl==0.1.2
-e git+ssh://git@github.com/ndjuric/ntrx.git@639c6865e993cb14e9b435cb9aff3f607cdc3b5a#egg=ntrx
paho-mqtt==2.1.0
pillow==11.1.0
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.19.1
pygnssutils==1.1.9
pygpsclient==1.5.3
pynmeagps==1.0.46
pyrtcm==1.1.4
pyserial==3.5
pyspartn==1.0.5
python-dotenv==1.0.1
pyubx2==1.2.50
pyubxutils==1.0.2
redis==5.2.1
requests==2.32.3
rich==14.0.0
setuptools==80.8.0
shellingham==1.5.4
sniffio==1.3.1
starlette==0.46.1
typer==0.15.4
typing_extensions==4.12.2
urllib3==2.3.0
uvicorn==0.34.0
watchdog==6.0.0
websockets==10.3
